<div class="devise-grid">

  <div class="devise-left">
    <%= image_tag("https://res.cloudinary.com/dd7pbokmj/image/upload/v1671830928/woman-readingsvg_g5hufg.svg", class: 'devise-image') %>
  </div>

  <div class="devise-right">
    <div class="introduction">

      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#c084fc" class="devise-icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0012 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75z" />
      </svg>

      <h1 class="devise-title">Welcome!</h1>

    </div>

     <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="lg:flex lg:justify-between">
          <%= f.input :email,
                    required: true,
                    label: false,
                    placeholder: 'E-mail',
                    autofocus: true,
                    input_html: { autocomplete: "email", class: 'devise-form-input' }%>
        <%= f.input :username,
                    required: true,
                    label: false,
                    placeholder: 'Username',
                    autofocus: true,
                    input_html: { autocomplete: "email", class: 'devise-form-input' }%>
        </div>

        <%= f.input :photo, as: :file, label: false, input_html: {class: 'devise-file-input'} %>

        <%= f.input :address,
          required: true,
          label: false,
          placeholder: 'Address',
          input_html: { autocomplete: "Address", class: 'devise-form-input' } %>

      <%= f.input :bio,
          required: true,
          label: false,
          placeholder: 'Bio',
          input_html: { autocomplete: "Bio", class: 'devise-form-input' } %>

        <div class="md:grid md:grid-cols-2 md:gap-2">

        <div data-controller="password-visibility">
          <%= f.input :password,
            required: true,
            label: false,
            placeholder: 'Password',
            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
            input_html: { autocomplete: "new-password", class: 'devise-form-input',
            data: { password_visibility_target: 'input'} } %>
            <button type="button" data-action="password-visibility#toggle" class="text-gray-500 absolute top-[54%] bottom-0 right-10 min-[768px]:top-[70%] min-[768px]:right-[25%] min-[375px]:right-12 min-[1024px]:top-[44%] min-[1100px]:top-[7%] pr-3 flex items-center cursor-pointer">
              <span data-password-visibility-target="icon"><i class="fa-solid fa-eye"></i></span>
              <span data-password-visibility-target="icon" class="hidden"><i class="fa-solid fa-eye-slash"></i></span>
            </button>
        </div>

        <div data-controller="password-visibility">
          <%= f.input :password_confirmation,
            required: true,
            label: false,
            placeholder: 'Confirm password',
            input_html: { autocomplete: "new-password", class: 'devise-form-input',
            data: { password_visibility_target: 'input'} } %>
          <button type="button" data-action="password-visibility#toggle" class="text-gray-500 absolute top-[93%] bottom-0 right-10 min-[768px]:top-[70%] min-[375px]:right-12 min-[1024px]:top-[44%] min-[1024px]:right-16 min-[1100px]:top-[7%] min-[1100px]:right-20 pr-3 flex items-center cursor-pointer">
              <span data-password-visibility-target="icon"><i class="fa-solid fa-eye"></i></span>
              <span data-password-visibility-target="icon" class="hidden"><i class="fa-solid fa-eye-slash"></i></span>
            </button>
        </div>
        </div>

      </div>

      <div class="form-actions mb-4">
        <%= f.button :submit, "Sign up", class: 'btn-violet-solid w-full mt-2' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>

</div>
