<div class="regular-container">
  <div class="thick-container">
    <h1 class="main-title">Meet the bookworm community </h1>
  </div>

  <h2 class="main-subtitle">No two <span class="pacifico text-2xl">readers</span> are alike and that’s what makes the community so special.</h2>

</div>

<div class="">
  <div class="swiper mySwiper" data-controller="super-booksie">
    <div class="swiper-pagination"></div>
    <div class="swiper-wrapper">
      <% @booksies.first(6).each_with_index do |booksie, index| %>
        <div class="swiper-slide">
          <div class="px-2">
            <%= link_to user_path(booksie) do  %>
            <div class="booksie-card_image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path booksie.photo.key, crop: :fill %>'); background-size: cover; background-position: center;"></div>
            <h2 class="booksie-card_username">@<%= booksie.username %></h2>
            <p class="px-2 text-center mt-4 leading-loose  text-neutral-700 font-light text-sm"><%= @testimonials[index] %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

  </div>
</div>

<div class="regular-container my-12">
  <div class="thick-container">
    <h1 class="main-title mb-24">We are by your side </h1>
  </div>

  <div class="lg:flex md:flex align-center justify-between">
    <div class="left lg:w-1/2 md:w-1/2 small-paragraph my-8 md:my-0 lg:my-0">
      <p>We know trust is a priority any time someone is in possession of your belongings. Booksie allows you to set strict requirements for who can book and to get to know readers before their reservation.</p>
      <p>If something does come up, we have your back with our Book Guarantee and Book Protection Insurance.</p>
    </div>
    <div class="right">
      <div class="flex align-center">
        <span class="icon-violet-700 mt-1 mr-4"><i class="fa-solid fa-square-check"></i></span><p class="small-paragraph">Ability to require official ID prior to booking</p>
      </div>

      <div class="flex align-center">
        <span class="icon-violet-700 mt-1 mr-4"><i class="fa-solid fa-square-check"></i></span><p class="small-paragraph">Booking Rules that users must accept</p>
      </div>

       <div class="flex align-center">
        <span class="icon-violet-700 mt-1 mr-4"><i class="fa-solid fa-square-check"></i></span><p class="small-paragraph">Read comments from previous bookings</p>
      </div>

      <div class="flex align-center">
        <span class="icon-violet-700 mt-1 mr-4"><i class="fa-solid fa-square-check"></i></span><p class="small-paragraph">Free $1 million property damage protection</p>
      </div>

      <div class="flex align-center">
        <span class="icon-violet-700 mt-1 mr-4"><i class="fa-solid fa-square-check"></i></span><p class="small-paragraph">$1 million free liability insurance</p>
      </div>

      <div class="flex align-center">
        <span class="icon-violet-700 mt-1 mr-4"><i class="fa-solid fa-square-check"></i></span><p class="small-paragraph">24/7 global customer service</p>
      </div>





    </div>
  </div>


</div>

<div class="regular-container mt-12 flex items-center justify-between md:flex-row flex-col">
    <img src="https://res.cloudinary.com/dd7pbokmj/image/upload/v1680557560/reading-woman-bed_saeaf2.jpg" alt="female-book-reader" class= "md:w-1/2 h-96 w-full rounded-lg md:ml-4 shrink-0">

    <div class="p-12">
      <span class="icon-violet-300 text-2xl"><i class="fa-solid fa-quote-left"></i></span>
      <h2 class="big-paragraph my-4">There's no way to share books. You might be surprised by how much fun you have.</h2>
      <span class="icon-violet-300 text-2xl"><i class="fa-solid fa-quote-right"></i></span>

      <h3 class="small-paragraph">Chloe, Bruxelles, Belgium</h3>
    </div>

</div>

<div data-controller="read-more" class="bg-neutral-700 p-8 my-8">
  <h2 class="main-title-100 my-8">Become a Booksie</h2>

    <span class="icon-violet-300 text-center text-3xl block" data-read-more-target="arrowDown" data-action="click->read-more#openForm"><i class="fa-solid fa-angles-down"></i></span>

    <div class="hidden" data-read-more-target="form">
      <%= render 'devise/registrations/new_user' %>
    </div>

</div>
