<h1>All my books</h1>

<% @books.each do |book| %>
  <div class="book-card m-4">
    <%= link_to book_path(book) do %>
      <div style="background-image: url('<%= cl_image_path book.photo.key, crop: :fill %>'); background-size: cover" class="book-card_image"></div>
      <div class="book-card_text">
        <div class="w-40">
          <h2 class="book-card_title"><%= book.title %></h2>
          <h3 class="book-card_subtitle"><%= book.author %></h3>
        </div>
        <h3 class="book-card_rating"><span class="mx-1"><i class="fa-solid fa-star"></i></span><%= book.rating %></h3>
      </div>
    <% end %>
  </div>
<% end %>
