<%= simple_form_for(@post) do |f| %>
  <div>
    <%= f.input :title, placeholder: "What's the post title?", label: false, class: "devise-form-input" %>
  </div>
  <div>
    <%= f.input :content, label: false %>
  </div>
  <div>
    <%= f.input :date %>
  </div>

  <div>
    <%= f.button :submit, class: 'btn-violet-solid' %>
  </div>
<% end %>
