<div class="mx-auto">
  <%= simple_form_for(@post, data: { controller: "flatpickr" }) do |f| %>
    <div class="m-4">
      <%= f.input :title, placeholder: "What's the post title?", label: false, input_html: { class: "devise-form-input" } %>
    </div>
    <div class="m-4">
      <%= f.rich_text_area :rich_content, label: false, placeholder: "We are the music makers, and we are the dreamers of dreams." %>
    </div>

    <div class="m-4">
      <%= f.input :date, as: :string, input_html: { data: { flatpickr_target: "start" }, class: "devise-form-input" }, label: false, placeholder: "Pick a Date To Start Writing" %>
    </div>

    <div class="m-4">
      <%= f.input :photo, as: :file, label: false, input_html: { class: "devise-file-input" } %>
    </div>

    <div class="m-4">
      <%= f.button :submit, class: 'btn-violet-solid w-full' %>
    </div>
  <% end %>
</div>
