<div class="regular-container">
  <h1 class="main-title"><%= @post.title %></h1>
  <div class="flex justify-center mt-2">
    <h2 class="book-card_title mr-4 text-violet-700">Booksie: <%= @post.author %></h2>

    <p class="book-card_subtitle">Posted: <%= @post.date.strftime("%d/%m/%Y")  %></p>

  </div>


  <p class="mt-16 md-paragraph"><%= @post.content %></p>

  <div class="comments mt-16">

    <h2 class="book-card_title text-center my-8">Share your thoughts: leave a review!</h2>

    <div data-controller="insert-comment">
      <%= render 'comments/form', post: @post, comment: @comment %>

      <div data-insert-comment-target="items">
        <% @post.comments.each do |comment| %>
          <%= render 'comments/comment', comment: comment %>
        <% end %>
      </div>
    </div>

  </div>

</div>
