<div class="regular-container">
  <h1 class="main-title"><%= strip_tags(@post.title) %></h1>
  <div class="flex justify-center my-4 md:my-16">
    <h2 class="book-card_title mr-4 text-violet-700">Booksie: <%= @post.user.username %></h2>

    <p class="book-card_subtitle">Posted: <%= @post.date.strftime("%d/%m/%Y")  %></p>

  </div>


  <%=  @post.content.html_safe %>

  <div class="comments mt-16">

    <h2 class="book-card_title text-center my-8">Share your thoughts: leave a review!</h2>

    <div data-controller="insert-comment" data-insert-comment-position-value="beforeend">
      <%= render 'comments/form', post: @post, comment: @comment %>

      <div data-insert-comment-target="items">
        <% @post.comments.each do |comment| %>
          <%= render 'comments/comment', comment: comment %>
        <% end %>
      </div>
    </div>

  </div>

</div>
