<div class="regular-container">
  <h1 class="main-title"><%= strip_tags(@post.title) %></h1>
  <div class="flex justify-center my-4 md:my-16">
    <h2 class="book-card_title mr-4 text-violet-700">Booksie: <%= @post.user.username %></h2>

    <p class="book-card_subtitle">Posted: <%= @post.date.strftime("%d/%m/%Y")  %></p>

  </div>

  <%=  @post.rich_content %>

  <div class="comments" data-controller="character-counter">
    <span class="md-paragraph">Let's start a talk:</span> <span class="md-paragraph text-violet-500">leave a review</span>

    <%= render 'comments/form', post: @post, comment: @comment %>
  </div>




</div>
